@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #F84565;
    --color-primary-dull: #D63854;
}

*{
    font-family: Lato;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
    scroll-behavior: smooth;
}

body{
    color: white;
    background-color: #09090B;
}

.no-scrollbar{
    scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter: invert(1)
}